<%= simple_form_for @book, data: { controller: "book-form", turbo: false } do |f| %>
  <%= f.input :title %>

  <%= f.input :author_id, collection: Author.all, label: "Choose an existing author", include_blank: "Select an author", data: { target: "book-form.authorSelect" } %>
  <input type="text" data-book-form-target="authorInput" placeholder="Or enter a new author">
  <button type="button" data-action="click->book-form#addAuthor">Add Author</button>

  <%= f.input :genre_id, collection: Genre.all, label: "Choose an existing genre", include_blank: "Select a genre", data: { target: "book-form.genreSelect" } %>
  <input type="text" data-book-form-target="genreInput" placeholder="Or enter a new genre">
  <button type="button" data-action="click->book-form#addGenre">Add Genre</button>

  <%= f.input :synopsis %>

  <%= f.submit "Create Book" %>
<% end %>
